<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define WindowsFormsApp1_TargetDir=$(var.WindowsFormsApp1.TargetDir)?>
	<Product Id="c766d27d-e56c-4ef0-8a8c-8bf9129d901c" Name="PhuongLyApp" Language="1033" Version="1.0.3.2" Manufacturer="ES" UpgradeCode="87793c10-626a-496e-a1e9-ee2f0a2ed417">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)Icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <WixVariable Id="WixUIBannerBmp" Value="Images\installer_top-banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Images\installer_background.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\EULA.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="WixUI_InstallDir" />
		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="PhuongLyApp" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder"> 
          <Directory Id="INSTALLFOLDER" Name="PhuongLyApp" /> 
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PhuongLyApp"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
	</Fragment>
  
    <!--Thêm định nghĩa các component cho start menu và desktop shortcut--> 
  <Fragment>
    <!--shortcut & start menu -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="PhuongLyApp" Description="PhuongLyApp" Target="[INSTALLFOLDER]WindowsFormsApp1.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\WindowsFormsApp1" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <!--Desktop-->
    <DirectoryRef Id="DesktopFolder">
     <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
       <Shortcut Id="ApplicationDesktopShortcut" Name="PhuongLyApp" Description="PhuongLyApp" Target="[INSTALLFOLDER]WindowsFormsApp1.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\WindowsFormsApp1" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="WindowsFormsApp1.exe" Guid="12c7b7e3-38b6-442b-a54e-88f0a1821d3b">
			  <File Id="WindowsFormsApp1.exe" Name="WindowsFormsApp1.exe" Source="$(var.WindowsFormsApp1_TargetDir)WindowsFormsApp1.exe" />
			</Component>
			<Component Id="WindowsFormsApp1.exe.config" Guid="a0c04620-e39d-49d6-88f6-5551d1b92012">
			  <File Id="WindowsFormsApp1.exe.config" Name="WindowsFormsApp1.exe.config" Source="$(var.WindowsFormsApp1_TargetDir)WindowsFormsApp1.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
